<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASLB_Monitor_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ASLB_Monitor_Service.Properties.Settings>
            <setting name="CheckInterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="SQLServerConnectionString" serializeAs="String">
                <value>Data Source=STG-OLAPDB;Failover Partner=STG-OLAPDB;Initial Catalog=SMK_ASLB;Integrated Security=True</value>
            </setting>
            <setting name="CheckTimeout" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ServerDatabaseList" serializeAs="String">
                <value>STG-VA01.eyeblaster.com;Analytics4|STG-VA02.eyeblaster.com;Analytics4</value>
            </setting>
            <setting name="PerformanceCounters" serializeAs="String">
                <value>MSSQL$OLAPDB:Databases;Log File(s) Used Size (KB);ODS|MSSQL$OLAPDB:Access Methods;Page Splits/Sec|MSSQL$OLAPDB:General Statistics;User Connections|ASLB:Service;Server;Active|Processor;% Processor Time;_Total|Memory;Available KBytes;|MSAS11:Connection;Current connections|MSAS11:Connection;Failures/sec|MSAS11:Connection;Requests/sec|MSAS11:Connection;Successes/sec|MSAS11:Connection;Current user sessions|MSAS11:Memory;Memory Usage KB|MSAS11:Memory;Memory Limit Low KB|MSAS11:Memory;Memory Limit High KB|MSAS11:Memory;Memory Limit Hard KB</value>
            </setting>
        </ASLB_Monitor_Service.Properties.Settings>
    </userSettings>
</configuration>